@keyframes open {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes close {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

.accordion-content[data-state='open'] {
  animation: open 300ms ease-out;
}

.accordion-content[data-state='close'] {
  animation: close 300ms ease-out;
}
